$default-font-size: 21;

$ms-base: 18px;
$ms-ratio: $major-third;


$ms-norm   : ms(1);
$ms-m      : ms(2);
$ms-l      : ms(3);
$ms-xl     : ms(4);
$ms-xxl    : ms(5);
$ms-xxxl   : ms(6);


* {
    -webkit-font-smoothing: antialiased;
}

html, body {
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

body {
    font-size: $ms-norm;
}


h1 {
    font-size: ms(6);
    line-height: ms(1, ms(6));
    margin-top: ms(3, ms(6));
    margin-bottom: ms(0, ms(6));
}

h2 {
    font-size: ms(5);
    line-height: ms(1, ms(5));
    margin-top: ms(3, ms(5));
    margin-bottom: ms(0, ms(5));
}

h3 {
    font-size: ms(4);
    line-height: ms(1, ms(4));
    margin-top: ms(3, ms(4));
    margin-bottom: ms(0, ms(4));
}

h4 {
    font-size: ms(3);
    line-height: ms(1, ms(3));
    margin-top: ms(3, ms(3));
    margin-bottom: ms(0, ms(3));
}

h5 {
    font-size: ms(2);
    line-height: ms(1, ms(2));
    margin-top: ms(3, ms(2));
    margin-bottom: ms(0, ms(2));
}

h6 {
    font-size: ms(1);
    line-height: ms(1, ms(1));
    margin-top: ms(3, ms(1));
    margin-bottom: ms(0, ms(1));
}

h1, h2, h3, h4 {
    // margin-top: ms(6);
    // margin-bottom: ms(2);
}

.u-ttl { text-align: left; }
.u-ttr { text-align: right; }
.u-ttc { text-align: center; }